meta-iot-dev-experience/recipes-devexp/hdc-solution/files/HelixDeviceCloudTutorial_quark.json
[{"id":"4cdcfe06.b323","type":"comment","z":"69a52aa4.965ad4","name":"Get data from HDC","info":"This flow reads data from HDC, then tags it for charting. The \"HDC read\" exec node requires an input that identifies the sensor value to be read from HDC.\n\nIn this case the \"Interval\" inject node sends a string payload to HDC that matches the field that was originally sent to HDC (\"RH-USB_TEMP\" in this case).\n\nTo connect this flow for charting, wire the output of its \"Temperature\" chart tag node to the input of the \"Charts\" mqtt out node.","x":145,"y":250,"wires":[]},{"id":"4ca78d7b.b35874","type":"inject","z":"69a52aa4.965ad4","name":"Interval","topic":"","payload":"RH-USB_TEMP","payloadType":"string","repeat":"30","crontab":"","once":true,"x":134,"y":292,"wires":[["ae8ccd30.51733"]]},{"id":"ae8ccd30.51733","type":"exec","z":"69a52aa4.965ad4","command":"node /home/gwuser/hdc-solution/hdc_reader.js","addpay":true,"append":"","useSpawn":"","name":"HDC read","x":370,"y":292,"wires":[["c9c7ab32.363858"],[],[]]},{"id":"c9c7ab32.363858","type":"chart tag","z":"69a52aa4.965ad4","title":"Temperature","chartType":"line","dataSource":"Helix Device Cloud","units":"°C","min":"0","max":"100","targetLow":"","targetHigh":"","priority":"1","sourcePriority":"2","ttl":"10","points":"50","x":567,"y":279,"wires":[["b6b6f8e0.494908"]]},{"id":"6df16d30.920e94","type":"comment","z":"69a52aa4.965ad4","name":"Send to HDC","info":"The \"HDC send temp\" exec node is configured to call a script that sends data to HDC. Double-click the exec node to see the command.\n\nIt is possible to use this method for sending other sensor values to HDC as well. Copy the node and then change the \"RH-USB_TEMP\" argument to a unique value that represents the sensor.\n\nTo enable this node, wire the output of the \"F to C\" function node into the input of the \"HDC send temp\" node.\n","x":397,"y":64,"wires":[]},{"id":"3298a751.cd6758","type":"exec","z":"69a52aa4.965ad4","command":"sudo -u wra /home/gwuser/hdc-solution/hdc-send-data RH-USB_TEMP","addpay":true,"append":"","useSpawn":"","name":"HDC send temp","x":561,"y":72,"wires":[[],[],[]]}]
