meta-dev-experience/recipes-devexp/azure-sb-solution/files/azure-sb-txrx-nr-sample.json
[{"id":"4547d472.3f0e24","type":"inject","z":"2ab02a94.61ebb2","name":"report memused 10sec","topic":"","payload":"","payloadType":"none","repeat":"10","crontab":"","once":false,"x":171.82000732421875,"y":149.9099884033203,"wires":[["1abeb32.86890cd"]]},{"id":"1abeb32.86890cd","type":"exec","z":"2ab02a94.61ebb2","command":"node /home/gwuser/azure-sb-solution/memused.js","addpay":false,"append":"","useSpawn":"","name":"Mem used","x":317.58001708984375,"y":215.50003051757812,"wires":[["f17ef287.ed9dc"],[],[]]},{"id":"f17ef287.ed9dc","type":"exec","z":"2ab02a94.61ebb2","command":"node /home/gwuser/azure-sb-solution/azuresb-tx.js","addpay":true,"append":"","useSpawn":"","name":"Azure SB Tx","x":508.8199462890625,"y":240.83999633789062,"wires":[["6733abac.f34278"],[],[]]},{"id":"7911585e.d4e1a","type":"debug","z":"2ab02a94.61ebb2","name":"","active":true,"console":"false","complete":"false","x":707.6099853515625,"y":439.2000732421875,"wires":[]},{"id":"85dec000.dd985","type":"inject","z":"2ab02a94.61ebb2","name":"Read Azure SB data every 10sec","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":190.39999389648438,"y":317.1999816894531,"wires":[["5a8b1fd7.5365a"]]},{"id":"5a8b1fd7.5365a","type":"exec","z":"2ab02a94.61ebb2","command":"node /home/gwuser/azure-sb-solution/azuresb-rx.js","addpay":false,"append":"","useSpawn":"","name":"Azure SB Rx","x":450.20001220703125,"y":421,"wires":[["7911585e.d4e1a"],[],[]]},{"id":"6733abac.f34278","type":"debug","z":"2ab02a94.61ebb2","name":"","active":false,"console":"false","complete":"false","x":707,"y":294.6000061035156,"wires":[]}]
