meta-dev-experience/recipes-devexp/azure-sb-solution/files/azure-sb-txrx-NR-Tutorial.json
[{"id":"baabe7c7.455418","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"4547d472.3f0e24","type":"inject","z":"2ab02a94.61ebb2","name":"report memused 10sec","topic":"","payload":"","payloadType":"none","repeat":"10","crontab":"","once":false,"x":171.82000732421875,"y":149.9099884033203,"wires":[["1abeb32.86890cd"]]},{"id":"1abeb32.86890cd","type":"exec","z":"2ab02a94.61ebb2","command":"node /home/gwuser/azure-sb-solution/memused.js","addpay":false,"append":"","useSpawn":"","name":"MemUsed","x":385.58001708984375,"y":155.50003051757812,"wires":[["f17ef287.ed9dc"],[],[]]},{"id":"f17ef287.ed9dc","type":"exec","z":"2ab02a94.61ebb2","command":"node /home/gwuser/azure-sb-solution/azuresb-tx.js","addpay":true,"append":"","useSpawn":"","name":"Azure SB Tx","x":574.8199462890625,"y":203.83999633789062,"wires":[["6733abac.f34278"],[],[]]},{"id":"6733abac.f34278","type":"debug","z":"2ab02a94.61ebb2","name":"","active":false,"console":"false","complete":"false","x":707,"y":294.6000061035156,"wires":[]},{"id":"ae271e11.963ae","type":"debug","z":"2ab02a94.61ebb2","name":"","active":true,"console":"false","complete":"false","x":700.2099609375,"y":529,"wires":[]},{"id":"89de3589.bf3d88","type":"inject","z":"2ab02a94.61ebb2","name":"Read Azure SB data every 10sec","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":194,"y":349.9998779296875,"wires":[["fe1b39e3.b3f548"]]},{"id":"fe1b39e3.b3f548","type":"exec","z":"2ab02a94.61ebb2","command":"node /home/gwuser/azure-sb-solution/azuresb-rx.js","addpay":false,"append":"","useSpawn":"","name":"Azure SB Rx","x":389.8000183105469,"y":440.7999267578125,"wires":[["ae271e11.963ae","164a283f.18161"],[],[]]},{"id":"164a283f.18161","type":"chart tag","z":"2ab02a94.61ebb2","title":"MemoryUsed","chartType":"line","dataSource":"Azure SB Topic","units":"KB","min":"100000","max":"600000","targetLow":"","targetHigh":"","priority":"1","sourcePriority":"","ttl":"15","points":"10000","x":623.4200439453125,"y":444.70989990234375,"wires":[["1444781c.8a04a"]]},{"id":"1444781c.8a04a","type":"mqtt out","z":"2ab02a94.61ebb2","name":"Chart","topic":"/sensors","qos":"","retain":"","broker":"baabe7c7.455418","x":836.4200439453125,"y":465.70989990234375,"wires":[]}]
